  
<h2>Farmers Search</h2>
<form action="/customers" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% customer.forEach(customer => { %>
  <div><%= customer.name %></div>
  <a href="/customers/<%= customer.id %>">View</a>
  <a href="/customers/<%= customer.id %>/edit">Edit</a>
  <form method="POST" action="/customers/<%= customer.id %>?_method=DELETE">
    <button type="submit">Delete</button>
  </form>
  <% }) %>